OPENAI_API_KEY=
OPENAI_URL=
GEMINI_API_KEY=your-gemini-api-key
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=your-database-user
DB_PASSWORD=your-database-password
DB_HOST=your-database-host
DB_PORT=5432
